
.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#e-mercado-logo {
height: 150px;
display:block;
margin:auto;
}

/* label{ 
  color:grey;
  font-size: 40px;
  float: left;
}


input[type = "radio"]{ 
  display:none;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange; 
}*/
#opinion {
  color:black;
  font-size: 20px;
  font-style: oblique;
}
#puntuacion {
  color:black;
  font-size: 20px;
  font-style: oblique;
}

#calif {
  padding-left: 50px;
}

#puntaje {
  padding-left: 50px;
  padding-right: 50px;
  font-style: oblique;
  float: center;
  color: white;
  background-color:rgb(5, 107, 180);
}


#score{
  color:black;
  font-size: 20px;
  font-style: oblique;
}
#send-comment {
  float: left;
}

#show-each{
  color:black;
  font-size: 20px;
}
h3{
  color: rgb(18, 32, 32);
  padding-top: 10px;
 
}
p {
  
  color: rgb(18, 32, 32);
  font-size:large;
}
#opiniones {
  display: block;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}
#load-comments {
  padding-left: 0;
}

/* menu */

#menu ul {
  list-style:none;
  margin:0;
  padding:0;
 }
 
 
 /* enlaces del menu */
 
 #menu ul a {
  display:block;
  color:#e0c271;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  letter-spacing:1px;
 }
 
 /* items del menu */
 
 #menu ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
 }
 
 /* efecto al pasar el ratón por los items del menu */
 
 #menu ul li:hover {
  background:#fa292a;
 }

 /* menu desplegable */

#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background: #fa292a;
  padding:0;
 }
 
 /* items del menu desplegable */
 
 #menu ul ul li {
  float:none;
  width:150px
 }
 
 /* enlaces de los items del menu desplegable */
 
 #menu ul ul a {
  line-height:120%;
  padding:10px 15px;
 }
 
 /* items del menu desplegable al pasar el ratón */
 
 #menu ul li:hover > ul {
  display:block;
 }

 #cartProducts {
  border-color: black;
 }

 td {
  width: 25%;
  text-align: left;
  border: black;
 }

 table {
  font-weight:bold;
  text-align: center;
 }

 #fotito {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 50px; /* Set a small width */
  size: 10px;
}

 #miCarrito {
  float: center;
  text-align: center;
 }

 #envio {
  text-align: left;
 }

 #cartProducts {
  text-align: left;
  vertical-align: top;
 }

 input {
  text-align: center;
 }

 #envioError {
text-align: inherit;
color: #dc3545;
margin-top: 0.25rem;
  font-size: 0.875em;
 }

 #pagoError {
  text-align: inherit;
  color: #dc3545;
  margin-top: 0.25rem;
  font-size: 0.875em;
   }

   #payMeth {
    text-align: left;
    color:rgb(36, 12, 141);
    font-size: 0.875em;
    font-weight: bold;
   }

   h4 {
    text-align: left;
   }

   #metodo {
    text-align: left;
   }

   #errorPago {
    text-align: inherit;
    color: #dc3545;
    margin-top: 0.25rem;
    font-size: 0.875em;
     }
#fotitoUsuario {
  width: 100px;
  height: 100px;
}
#miFotito {
  padding-left: 90%;
  float: inline-end;
  text-align: top;
}
#titulo {
  text-align: left;
  padding-block-start: 50%;
}
#yanise {
  padding-left: 80px;
}
.wrapper {
  position: relative;
}
#inputEmail {
  padding-left: 48px;
}

.wrapper span {
  position: absolute;
  left: 2px;
}
#registrarse {
  font-size:medium;
}
h2 {
  text-decoration: wavy;
  text-decoration: dotted;
}

.lead {
  font-weight:400
}
/*
.container .star-widget input {
  display: none;
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 50%;
  margin-top: 40px;
}
.star-widget label {
  font-size: 30px;
  color: #444;
  padding: 10px;
  float: left;
  transition: all 0.2s ease;
}

.star-widget label:hover {
  font-size: 30px;
  color: #fd4;
  padding: 10px;
  float: left;
  transition: all 0.2s ease;
}


input:checked label {
color: #fd4;
}

input#rate-5:checked label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
input:checked form {
  display:block
}

.fichas-listado-v2 .voto .voto-estrellas{
  display: block;
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 50%;
  margin-top: 40px;
}
.fichas-listado-v2 .voto .voto-estrellas i{
  color: #fd4;
  font-size: 53px;
  display: inline-block;
  background-color: #fa292a;
}

.fichas-listado-v2 .voto .voto-estrellas i:hover{
  cursor: pointer;
  color:  #fd4;
  font-size: 53px;
  display: inline-block;
}

.fichas-listado-v2 .voto .voto-estrellas i.fa-star,
.fichas-listado-v2 .voto .voto-estrellas:hover i{
  color: #000000;
  font-size: 53px;
  display: inline-block;
}
.fichas-listado-v2 .voto .voto-estrellas:hover i:before{
  content: "\f005";
  font-size: 53px;
  display: inline-block;
}
.fichas-listado-v2 .voto .voto-estrellas i.fa-star-o:hover:before,
.fichas-listado-v2 .voto .voto-estrellas i:hover ~ i:before{
  content: "\f005";
  color:  #fd4;
  font-size: 53px;
  display: inline-block;
}

.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	/*font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
/*	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	/*font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: #fd4;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 *//*
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}*/



.rating-css {
  height: 250px;
  width: 800px;
  padding: 20px;
  direction: rtl;
  text-align: left;
}
.rating-css div {
  color: gray;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
  padding: 20px 0;
}

.rating-css input{
  display: none;
}

.rating-css input + label{
  font-size: 30px;
  text-shadow: 1px 1px 0 #000000;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: gold;
  }

  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }